.container {
  max-width: 600px;
  margin: 30px auto;
}

.form-group {
  margin-bottom: 1rem;
  input {
    margin-bottom: 3px;
  }
}

.table {
  width: 100%;
  margin-top: 1rem;
}

.btn-group {
  margin-bottom: 10px;
}
